<div class="head-info">
  <div class="container">
    <div class="main-info">
      <div class="offer">
        <div class="offer__nametext_block">
          <span class="nametext">AcademWork<br></span>
        </div>
        <div class="offer__text_block">
          <span class="text">Профессиональная помощь студентам<br></span>
        </div>
        <div class="offer__text_mini_block">
          <span class="text_mini">Платформа, объединяющая студентов, котрым нужна помощь и экспертов, готовых ее предоставить</span>
        </div>
        <div class="offer_btns">
          <button class="offer_btns__give_btn">
            <span class="give-get_btn_text">Разместить задание</span>
          </button>
          <button class="offer_btns__get_btn">
            <span class="give-get_btn_text">Стать экспертом</span>
          </button>
        </div>
      </div>
      <div class="main_image">
        <img src="img/svg/main_img.svg" alt="" class="main_image__img">
      </div>
    </div>

    <div class="statistic">
      <div class="statistic-block">
          <div class="statistic-block__number">
              <span>51 045</span>
          </div>
          <div class="statistic-block__text">
              <span class="stats-main-text">студентов<br></span>
              <span class="stats-text">зарегистрировались на нашем сервисе</span>
          </div>
      </div>

      <div class="statistic-block">
        <div class="statistic-block__number">
            <span class="stats-number">23 435</span>
        </div>
        <div class="statistic-block__text">
            <span class="stats-main-text">экспертов<br></span>
            <span class="stats-text">готовы помочь студентам</span>
        </div>
      </div>

      <div class="statistic-block">
        <div class="statistic-block__number">
            <span class="stats-number">118 754</span>
        </div>
        <div class="statistic-block__text">
            <span class="stats-main-text">заданий<br></span>
            <span class="stats-text">размещено и выполнено за текущий год</span>
        </div>
      </div>


    </div>
  </div>
</div>
